<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Soru Yayınla</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="dateOfBirth">Soru</label>
      <input [(ngModel)]="question.content" id="dateOfBirth" class="form-control" placeholder="Ne düşünüyorsun?" name="dp">
    </div>
    <div class="form-group">
      <label for="category">Kategori</label>
      <select [(ngModel)]="question.categoryId" id="category" class="form-control" name="dp">
        <option [ngValue]="category.id" *ngFor="let category of categories | async">
          {{category.name}}
        </option>
      </select>
    </div>
  </form>
</div>
<div [ngClass]="result.process ? 'alert alert-success':'alert alert-danger'" *ngIf="result.message.length>0">{{result.message}}</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="createQuestion()">Yayınla</button>
</div>

